#footer{ 
  position: fixed;
  background-color: black;
  right: 0;
  bottom: 0;
  width:100%;
}
/*하단바 버튼 테이블*/
#bottom_button{
    width: 100%;
    height : 10%;
    border-collapse: collapse;
    text-align:center;
    color:white;
    font-family:NotoSansKR-Black;
}
/*하단바 버튼 테이블 td*/
#bottom_button_td{
    border: 1px solid #575757;
    width: 33%;
}
/*하단바 버튼 이미지 사이즈*/
#buttom_size{

    height : 10%;
}
